*{
	margin:0;
	padding:0;
}
body{
	background-color:#EBE7E7;
}

header{
	width:100%;
	height:100px;
	background-color:#D62D2D;
	font-size: 12px;
	font-family: 'Acme', sans-serif;
	color:white;
	position:relative;
}
header img{
	width:25px;
	height:25px;
}
#current-date{
	position:absolute;
	left:250px;
	bottom:20px;
}
.firstline{
	padding-top:5px;
	padding-right:10px;
	text-align:right;	
}
form.head{
	position:absolute;
	left:40%;
	top:60px;	
	outline: none;
}
form.head button{
	float:left;
	width:25px;
	height:25px;
	padding:10px;
	cursor:pointer;
	border:none;
	border-radius:2px;
	background-color:#D62D2D  ;
	color:white;
	outline: none;
}
form.head img{
	position:absolute;
	top:0px;
	left:2px;
}

form.head input {
	width:250px;
	height:25px;
	padding:10px;
	float:left;
	font-size:12px;
	box-sizing: border-box;
	border: 2px solid #E4E0E0;
	border-radius:2px;
	outline: none;
	
}
#login-ud{
	position:absolute;
	left:63%;
	top:55px;
}
header #head-ac{
	position:absolute;
	left:80%;
	float:left;
	top:60px;
}
#head-ac img{
	width:10px;
	height:10px;
}
header #head-lg{
	position:absolute;
	left:90%;
	float:left;
	top:60px;
}
#head-lg img{
	width:10px;
	height:10px;
}
section{
	float:left;
	font-family: 'Acme', sans-serif;
}

.nav-bar{
	margin-left:50px;
	height:250px;
	width:150px;
	
}
.nav-bar ul{
	box-sizing: border-box;
	list-style-type:none;
}
li{
	margin: 5px 0;
	background-color:white;
	height:40px;
	padding:4px 4px;
}

.nav-bar img {
	width:20px;
	margin-left:2px;
	
}
.nav-bar a {
	margin-left:5px;
	text-decoration:none;
	font-size: 15px;
	text-align:left;
	}
.edge{
	margin-right:50px;
	position:absolute;
	right:0px; 
	top:100px;
	width:250px;
	text-align:center;
	color:white;	
}
.dropbtn{
	background-color:#D62D2D;
	outline:none;
}
.edge .dropbtn {
	width:200px;
	border: none;
	outline: none;
	color: white;
	padding: 4px 8px;
}

.dropdown-content {
	box-sizing:border-box;
	border:#D62D2D;
	display: none;
	position: absolute;
	left:25px;
	color:black;
	text-align:left;
	padding-left:10px;
	font-size:15px;
}

.dropdown-content a:hover {
  background-color: #D62D2D;
}

.edge:hover .dropdown-content {
  display: block;
}	
